/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,400&display=swap');

:root{
    --primary: #3E2AD1;
    --light: #9B9B9B;
    --dark: #191233;
    --light-dark: #313132;
    --gray: #C2C2C2;
    --lightshadow: hsla(0, 0%, 64%,.7);
    --white60: hsla(0, 0%, 96%,.8);
    --primary-light: hsla(356, 82%, 65%,.8);
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",monospace;
}

body {
    background-color: #121136;
}
.vector{
    width: 100vw;
    height: 100vh;
    display: block;
}
.vector image {
    /* width: 100%; */
    height: 100%;
    display: block;
    fill: blue;
    box-shadow: 15px -22px 20px #1C1C45;
}
.vector img {
    /* width: 100%; */
    height: 100%;
    display: block;
    box-shadow: 15px -22px 20px #1C1C45;
}

.primary-nav span{
    display: none;
}

.primary-nav{
    background-color: #1A0F71;
    height: 100vh;
    width: max-content;
    box-shadow: 0px 24px 24px 0px #191233; 
    border-radius: 0px 24px 24px 0px;  
    position: fixed;
}

.primary-nav nav{
    height: 100%;
}

.primary-nav ul{
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;  
    height: inherit;
}

.primary-nav li{
    padding: 10px;
    font-size: 20px;
}

.primary-nav .search{
    margin-bottom: auto;
    margin-top: 10px;
}
.primary-nav .logOut{
    margin-top: auto;
    margin-bottom: 10px;
}
.primary-nav a{
    color: var(--gray);
    text-decoration: none;
}

/* Profile list */

.profile-list{
    /* position: relative; */
    padding: 10px;
}

.profile-list ul{
    display: flex;
    justify-content: space-evenly;
}

.profile-list li{
   border-radius: 10px;
   padding: 10px;
   margin-left: 15px;
}

.profile-list img{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit:cover;
    border-radius: inherit;
}

.profile-list .top-logo{
    width: 120px;
    margin-left: auto;
    margin-right: 20px;

}
.profile-list .top-logo img{
    width: inherit;
    aspect-ratio:unset;
    border-radius: 0%;

}
.profile-list .profile-first{
    margin-right: auto;

}
