.shadow-box {
    margin: 0 auto;
    padding: .7rem;
    background: var(--dark);
    border-radius: 15px;
    box-shadow: -5px -5px 15px var(--light-dark),
                    5px 5px 15px var(--light-dark);
    box-shadow: 0 0 15px rgba(0,0,0,1);
    max-width: 1500px;
}

.search-results-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    /* flex-direction: row; */
}

/* .search-results-top > * {
    padding: .5rem;
} */

.search-filter{
    /* float: right; */
    display: flex;
    gap: 1rem;
}

.search-filter > ul {
    display: flex;
    gap: 1rem;
}

.search-filter > ul > li {
    list-style: none;
}

.search-topic > p {
    color: var(--primary-light);
}

.search-topic > * {
    display: inline;
    width: max-content;
}

.search-results-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    /* grid-template-rows: auto; */
}

.result-card {
    background-color: var(--light-dark);
    box-shadow: 5px 5px 6px black,
                -2px -2px 6px var(--lightshadow);
    border-radius: 18px;
    
    margin: .5rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2rem;

    /* max-width: 360px;
    max-height: 150px; */
}

.result-card-poster {
    margin: .5rem;
    display: flex;
    align-items: center;
    width: 25%;

    /* width: 300px; */
   

}

.result-card-poster > img {
    width: 100%;
    border-radius: 10px;
}

.genre-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(250px,1fr)); */
    /* grid-template-columns: auto; */
}

.genre-card {
    position: relative;
    /* height: auto; */
    aspect-ratio: 1/1;
    /* width: 100%; */
    margin: .5rem;
    border-radius: 15px;
}

.genre-card > img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    border-radius: inherit;
}

.blur-shade {
    background-color: var(--dark);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
    
    z-index: 50;
    opacity: 0.6;
}

.genre-title {
    position: absolute;
    z-index: 100;
    /* bottom: .5rem; */
    /* margin: 0 auto; */
    /* text-align: center; */
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 100%);
}

/* view-novel styles */

.view-novel-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.75rem;
}

.novel-bg-card {
    position: relative;
    aspect-ratio: 4/3;
    height: clamp(200px, 47vw, 400px); /*If necessary change height on media query */ 
}

.cover-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(Covers/2044027.jpg);
}

.bg-card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    padding: 0 clamp(10px, 11vw, 500px);

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1.5fr 1.25fr 0.5fr 0.75fr;
    grid-template-areas: 
                        "img title"
                        "img audio"
                        "img icons"
                        "read-now icons";
}

.bg-card-content-img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;


    /* width: 100%;
    height: 100%; */
    /* margin: .25rem auto; */
}

.bg-card-content-img > img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.bg-card-content-read-now {
    grid-area: read-now;
    margin: auto;
    border: none;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 15px;
    padding: .5rem 1rem;
}


.bg-card-content-title {
    grid-area: title;

    display: flex;
    flex-direction: column;
    gap: .1rem;
    /* justify-self: center;
    align-self: center; */
    justify-content: center;
    align-items: center;

}

.bg-card-content-audio {
    grid-area: audio;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bg-card-content-audio > .progress-bar {
    width: 80%;
    min-width: 270px;
    height: 3px;
    background-color: white;
}

.bg-card-content-icons {
    grid-area: icons;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    /* padding: 0px 10vw; */
    justify-self: center;
}

.bg-card-content-icons > * {
    flex: 1;
}

.bg-card-content-icons > button {
    border: none;
    background-color: inherit;
}

.bg-card-content-icons > .pause-resume  > i{
    /* font-size: 1.65rem; */
    /* font-size: 250%; */
    font-size: clamp(38px, 6.5vw, 45px);
}

.bg-card-content-icons > .next-prev > i{
    /* font-size: 1.25rem; */
    /* font-size: 250%; */
    font-size: clamp(30px, 4vw, 40px);
}

.bg-card-content-icons > .forward-backward > i{
    /* font-size: 0.75rem; */
    /* font-size: 200%; */
    font-size: clamp(25px, 2vw, 35px);
}

.novel-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    height: 6rem;
}

@media screen and (max-width: 450px){    
    .shadow-box {
        margin: 0 .5rem;
        background: none;
        border-radius: none;
        /* box-shadow: -5px -5px 15px rgba(var(--light-dark),0.5 ),
                        5px 5px 15px rgba(var(--light-dark),0.5 ); */
        box-shadow: none;
    }

    .search-results-top > * :not(span,.search-topic > p) {
        /* opacity: 0; */
        display: none;
    }
    
    .novel-bg-card {
        height: clamp(400px, 112vw, 500px);
    }

    .bg-card-content {
        height: 100%;
        grid-template-columns: none;
        /* padding: none; */
        /* grid-template-rows: minmax(220px, 2fr) minmax(55px, 0.5fr) minmax(55px, 0.5fr) minmax(55px, 0.5fr); */
        grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "img"
                              "title"
                              "audio"
                              "icons";
    }
    
    .bg-card-content > * {
        min-height: 0px;
    }

    .cover-img {
        height: 70%;
    }

    .bg-card-content-read-now {
        display: none;
    }

}

@media screen and (max-width: 1040px) {
    .bg-card-content {
        padding: 0;
    }
}

/* @media screen and (min-width: 766px) {
    .search-results-top > * :not(span) {
        
        display: inline;
    }
}

@media screen and (min-width: 810px) {
    .search-results-top > * :not(span) {
        
        display: inline;
    }
}

@media screen and (min-width: 1040px) {
    .search-results-top > * :not(span) {
        
        display: inline;
    }
}

@media screen and (min-width: 1334px) {
    .search-results-top > * :not(span) {
        
        display: inline;
    }
} */
